body{
    font-family: Arial, sans-serif;
    background: white;
}
.container{
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #888888}
input{
    width: 80px;
    padding: 10px;
    margin-bottom: 10px;
}

button{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;

}

button:hover{
    background: rgb(8, 77, 8);
}

#result{
    margin-top: 20px;
    text-align: left;
}